body{
    background-color: #023047;
    font-family: 'Tahoma', 'Arial', sans-serif;
    color: #8ECAE6;
    font-size: 20px;
}

.recipe-image{
    display: block;
    width: 350px;
    height: auto;
    margin: 10px auto;
    border: solid 10px #FB8500;
}

h1,
h2{
   max-width: 400px;
    margin: 0 auto;
    font-weight: 800;
    color:  #FB8500;
    padding: 10px 0;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 24px;
}

ol li a,
ul li a{
    display: inline-block;
    color: #FFB703;
    margin: 5px 0; 
}
